@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.Nome </h1>
    <br />
    <br />
    <h2>Meu primeiro site em MVC</h2>
    <br />
    <h4>Seu email é: @Model.Email</h4>
</div>
