@model ContactModel

@{
    ViewData["Title"] = "Confirmação de exclusão de contato";
}

@if (Model != null)
{
    <form asp-controller="Contact" asp-action="ConfirmationDeleteContact" method="post">

        <br />
        <br />

        <div class="text-center">
            <h3>Realmente deseja apagar o contato @Model.Nome ?</h3>
        </div>

        <br />
        <br />
        <div class="justify-content-center gap-2 d-md-flex">
            <a class="btn btn-danger" asp-controller="Contact" asp-action="Contacts">Cancelar exclusão</a>
            <button class="btn btn-primary" type="submit" asp-route-id="@Model.Id" asp-controller="Contact" asp-action="ConfirmationDeleteContact">Confirmar exclusão</button>
        </div>
    </form>
}