@model HomeModel

@{
    ViewData["Title"] = "Confirmação de exclusão de contato";
}
<br />
<br />
<div class="text-center">
    <h3>Realmente deseja apagar o contato (Pétrus)?</h3>
</div>

<br />
<br />
<div class="justify-content-center gap-2 d-md-flex">
    <a class="btn btn-danger">Cancelar exclusão</a>
    <a class="btn btn-primary">Confirmar exclusão</a>
</div>